.graphContainer {
    width: 100%;
    height: 600px;
    background: white;
}

.chartjs-render-monitor {
    height: 200px; 
}


@media only screen and (min-width: 768px) {
    .graphContainer {
        height: 450px;
    }
}
@media only screen and (min-width: 1150px) {
    .graphContainer {
        height: 400px;
    }
}