

.github-link {
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}

/*--------- General Content Box ----------*/

.body_box {
  border-radius: 1.4vw;
  background-color: #fff;
  box-shadow: 0px 0px 7px #0000001A;
  overflow: hidden;
  grid-row: span 3;
}

@media only screen and (min-width: 768px) {
  .body_box {
    grid-row: span 2;
  }
}

.box_content {
  width: 100%;
  height: 100%;
  display: flex;
  line-height: 100%;
  justify-content: space-evenly;
}

.long, .full_width {
  grid-column: span 2;
}

.full_width {
  grid-row: 7 span;
}

.regular {
  grid-column: span 1;
}

@media only screen and (min-width: 768px) {
  .long {
    grid-column: span 2;
  }
  .full_width {
    grid-column: 4 span;
    grid-row: 10 span;
  }
}

@media only screen and (min-width: 1150px) {
  .long {
    grid-column: span 2;
  }
    
  .full_width {
    grid-column: 4 span;
  }
    
  .double_height {
    grid-row: span 8;
  }
}

/*--------- Message Box ----------*/

#message_box {
  background-color: #97D1F4;
  font-weight: 600;
}

.box_content h2 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 1.9rem;
  height: 12.25vw;
  line-height: 12.25vw;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .box_content h2 {
    height: 7.5vw;
    line-height: 7.5vw;
  }
}

.dbimg {
  height: 100%;
}

/*--------- Stat Boxes ----------*/

.dropimg {
  height: 50%;
  width: auto;
  padding-left: 7%;
}

.stat_box {
  display: flex;
  justify-content: space-evenly;
  align-items: middle;
}

.static_data_text {
  font-size: 17pt;
}

/*--------- Graph Box ----------*/

#graph_wrap {
  width: 100%;
  height: 100%;
}

#graph_htmlcontainer {
  margin: 2.5%;
  height: 97.5%;
}

  /* Set Appropriate Padding for Text (GitHub only right now) */
  @media only screen and (max-width: 1000px)
  {
       .github-link {
        padding: 25px;
       }
  }

  @media only screen and (max-width: 980px)
  {
       .github-link {
        padding-top: 20px;
       }
  }


