.github-link {
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}


.body_wrap_t {
  width: 100%;
}

.body_container_t {
  margin: 2.5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 11vw);
  grid-gap: 2vw;
}
   
.body_box_t {
  border-radius: 1.4vw;
  background-color: #fff;
  box-shadow: 0px 0px 7px #0000001A;
}

.box_content_t {
  width: 100%;
  height: 100%;
  display: table;
  line-height: 100%;
}
   
#message_box_t {
  background-color: #97D1F4;
  font-weight: 600;
}

#message_box5_t{
  background-color: #97D1F4;
  font-weight: 600;
}
   
.long_t {
  grid-column: span 2;
}
   
.full_width_t {
  grid-column: span 3;
}
   
.double_height_t {
  grid-row: span 2;
}

.box_content_t h2 {
  font-family: 'Open-Sans', sans-serif;
  color: #fff;
  font-size: 1em;
  margin: auto;
  padding-left: 7%;
  padding-right: 7%;
  display: table-cell;
  vertical-align: middle;
  width: 57%;
  line-height: 1em;
  text-align: center;
}


.dropimg {
  display: inline-block;
  height: 100%;
  width: auto;
  vertical-align: middle;
}


  /* Set Appropriate Padding for Text (GitHub only right now) */
  @media only screen and (max-width: 1000px)
  {
       .github-link {
        padding: 25px;
       }
  }

  @media only screen and (max-width: 980px)
  {
       .github-link {
        padding-top: 20px;
       }
  }
