.github-link {
  font-size: calc(10px + 2vmin);
  color: #61dafb;
}


   
.body_box_t {
  border-radius: 1.4vw;
  background-color: #fff;
  box-shadow: 0px 0px 7px #0000001A;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
}

.box_content_t {
  width: 100%;
  height: 100%;
  line-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 1em;
}

#first_image{
  background-image: url(../assets/jpeg/waterimage.jpg);
  /* object-fit: contain; */
  background-position: 0px -10px;
  background-size: cover;
  /* top: -100x; */
}
   
#message_box_t {
  background-color: #97D1F4;
  font-weight: 600;

}

#message_box5_t{
  background-color: #97D1F4;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: space-evenly;
}
   
.long2_t {
  grid-column: span 2;
  text-align: center;
}
.long3_t {
  grid-column: span 3;
  text-align: center;
}
   
.full_width_t {
  grid-column: span 4;
  text-align: center;

}
   
.double_height_t {
  grid-row: span 2;
}

.triple_height_t {
  grid-row: span 3;
}


.box_content_t h2{
  margin: auto;
  height: 7.5vw;
  line-height: 7.5vw;
  text-align: center;
}

.box_content_t h3{
  margin: auto;
  padding-top: 5%;
  height: 7.5vw;
  text-align: center;
}

.box_text {
  font-family: 'Open-Sans', sans-serif;
  font-size: 1em;
  text-align: center;
}
.white_box_text{
  color:#3B80C4;;
}

.blue_box_text {
  color: #fff;
}

.dropimg {
  display: inline-block;
  height: 100%;
  width: auto;
  vertical-align: middle;
}


  /* Set Appropriate Padding for Text (GitHub only right now) */
  @media only screen and (max-width: 1000px)
  {
       .github-link {
        padding: 25px;
       }
  }

  @media only screen and (max-width: 980px)
  {
       .github-link {
        padding-top: 20px;
       }
  }
