.body {
  width: 100%;
  left: 0;
}

.hero {
  position: fixed;
  background: linear-gradient(341deg, #2f7deb, #89f7fe);
  background-size: 400% 400%;
  -webkit-animation: flowanimation 12s ease infinite;
  animation: flowanimation 12s ease infinite;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

@-webkit-keyframes flowanimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes flowanimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.nav {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.nav > * {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  width: 150px;
  border-radius: 10%/50%;
  padding: .5em 0;
  background-size: 100% 200%; 
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  transition: all .3s ease-in-out;
  transition-delay: 0.0s, 0.15s;
  background-position: 0 -100%; 
}

#leftItem {
  margin-right: 2em;
  background-image: linear-gradient(to top, transparent 50%, rgb(255,255,255) 50%);
}

#rightItem {
  background-image: linear-gradient(to top, rgba(255,255,255,.2) 50%, rgba(255,255,255,1) 50%);
}

#leftItem:hover, #rightItem:hover {
  background-position: 0 0;
  color: #2D98DA;
}

.hero {
  z-index: -1;
}

.logo {
  width: 20%;
  height: auto;
  min-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circles {
  width: 100vw;
  height: auto;
  position: relative;
  top: 0;
}
